@import url(http://fonts.googleapis.com/css?family=Roboto);
#flash {
  margin: 10px auto;
  width: 60%;
  background: #fff;
  padding: 0.5em;
}
#flash.info {
  color: blue;
}
#flash.error {
  color: red;
}
#flash-wrapper {
  text-align: center;
  z-index: 99;
  width: 100%;
  position: absolute;
  bottom: 10px;
}
/* Reset */
/* Fonts */
/* Styles */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  color: #878787;
  background: #F5F5F5;
}
.content {
  position: absolute;
  top: 50px;
  left: 0;
  height: 100%;
  z-index: 99;
}
.article-wrapper,
#sidebar {
  box-sizing: border-box;
  top: 0;
  height: 100%;
  -webkit-transition: height 0.3s ease, overflow 0.3s ease;
  -moz-transition: height 0.3s ease, overflow 0.3s ease;
  -o-transition: height 0.3s ease, overflow 0.3s ease;
  transition: height 0.3s ease, overflow 0.3s ease;
}
.article-wrapper h1,
#sidebar h1 {
  font-size: 2em;
}
.article-wrapper h2,
#sidebar h2 {
  font-size: 1.3em;
}
.article-wrapper img + h2,
#sidebar img + h2 {
  display: inline-block;
  padding: 1em;
}
.article-wrapper section,
#sidebar section {
  padding: 1em;
}
.article-wrapper .article,
#sidebar .article {
  height: 100%;
}
.article-wrapper .crop,
#sidebar .crop {
  height: 300px;
  background-image: url('https://www.googleapis.com/freebase/v1/image//m/03_dz04?maxwidth=370');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
.article-wrapper .crop:hover,
#sidebar .crop:hover {
  overflow: hidden;
  height: 100%;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}
.article-wrapper .image,
#sidebar .image {
  width: 100%;
}
.article-wrapper {
  z-index: 99;
  -webkit-transition: height 0.3s ease, margin 0.3s ease;
  -moz-transition: height 0.3s ease, margin 0.3s ease;
  -o-transition: height 0.3s ease, margin 0.3s ease;
  transition: height 0.3s ease, margin 0.3s ease;
  background: rgba(255, 255, 255, 0.82);
  height: 0;
  width: 370px;
  position: absolute;
  top: 0;
  right: 370px;
  overflow: hidden;
}
.article-wrapper.open {
  height: 100%;
  padding-top: 48px;
}
left,
right {
  display: inline-block;
}
#sidebar {
  z-index: 99;
  -webkit-transition: width 0.3s ease, margin 0.3s ease;
  -moz-transition: width 0.3s ease, margin 0.3s ease;
  -o-transition: width 0.3s ease, margin 0.3s ease;
  transition: width 0.3s ease, margin 0.3s ease;
  margin-right: -370px;
  background: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 370px;
  position: absolute;
  right: 0;
}
#sidebar.open {
  margin-right: 0;
  padding-top: 58px;
}
#sidebar .card {
  padding: 1em;
}
.card .action {
  border-top: 1px solid #DDDDDD;
  display: block;
  margin: 0 -10px -10px -10px;
  padding: 10px;
  font-family: "Roboto";
  color: #33b5e5;
  text-decoration: none;
}
.card .section {
  border-top: 1px solid #DDDDDD;
  display: block;
  margin: 0 -10px;
  padding: 10px;
}
.card .section a {
  font-family: "Roboto";
  color: #33b5e5;
  text-decoration: none;
}
.card .image[src="images/none.gif"],
.card .action:empty {
  display: none;
}
.card .optional {
  display: none;
}
.card .optional[display="true"] {
  display: block;
}
.card .film:last-child:after {
  content: '';
}
.card .film:after {
  content: ',';
}
.row-fluid div {
  height: 200px;
  -webkit-transition: width 0.3s ease, margin 0.3s ease;
  -moz-transition: width 0.3s ease, margin 0.3s ease;
  -o-transition: width 0.3s ease, margin 0.3s ease;
  transition: width 0.3s ease, margin 0.3s ease;
}
.row-fluid .span0 {
  width: 0%;
}
#col1 {
  background-color: #A6BFBA;
}
#col2 {
  background-color: #DE4124;
}
#trig {
  margin: 50px;
}
.row-fluid .span0 + [class*="span"] {
  margin-left: 0;
}
html,
body,
#map-canvas {
  height: 100%;
  font-family: 'Roboto', serif;
}
select {
  font-size: 0.9em;
  color: #333;
  margin: 10px;
  margin-top: 20px;
  width: 140px;
  height: 24px;
  overflow: hidden;
  border: 1px solid #ccc;
}
.article .container {
  width: 100%;
}
