@import "flash.less";
@import "card.less";

// Temporary styles for debigging during development
html, body, #map-canvas {
  height: 100%;
  font-family: 'Roboto', serif;
}

select {
  font-size:0.9em;
  color: #333;
  margin: 10px;
  margin-top: 20px;
  width: 140px;
  height: 24px;
  overflow: hidden;
  border: 1px solid #ccc;
}

#debug {
  position: absolute;
  width: 300px;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 99;
}

.row div {
    height: 200px;
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}


#col1 {
    background-color: #A6BFBA;
}

#col2 {
    background-color: #DE4124;
}

#trig {
    margin: 50px;
}

.container {
  width: 100%;
}

.col-md-0.col-md-1 {
  width: 0;
  padding: 0;
}
