@import "flash.less";
@import "card.less";

// Temporary styles for debigging during development
html, body, #map-canvas {
  height: 100%;
  font-family: 'Roboto', serif;
}

select {
  font-size:0.9em;
  color: #333;
  margin: 10px;
  margin-top: 20px;
  width: 140px;
  height: 24px;
  overflow: hidden;
  border: 1px solid #ccc;
}


#map-canvas {
  //margin-top: 48px;
}

.article .container {
  width: 100%
}
